$color-primary: #22130e;
//311a12
$color-primary-light: #923215;
$color-primary-dark: #740404;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;
$color-maroon:#6d0000;

//card-colors
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;


//grid variables
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//font-size
$default-font-size: 1.6rem;

:export {
    colorPrimaryLight:$color-primary-light;
    colorPrimaryDark:$color-primary-dark;
}